/***********************************************************************
 *  Nimvelo Background
 **********************************************************************/
.nimvelo {
  background: #314755;
  background: -webkit-linear-gradient(to right, #314755, #26a0da);
  background: linear-gradient(to right, #314755, #26a0da);
}

/***********************************************************************
 *  Jonquil Background
 **********************************************************************/
.jonquil {
  background: #ffeeee;
  background: -webkit-linear-gradient(to right, #ffeeee, #ddefbb);
  background: linear-gradient(to right, #ffeeee, #ddefbb);
}

/***********************************************************************
 *  Broken Hearts Background
 **********************************************************************/
.brokenhearts {
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #d9a7c7, #fffcdc);
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
}

/***********************************************************************
 *  Neon Life Background
 **********************************************************************/
.neonlife {
  background: #b3ffab;
  background: -webkit-linear-gradient(to right, #b3ffab, #12fff7);
  background: linear-gradient(to right, #b3ffab, #12fff7);
}

/***********************************************************************
 *  Earthly Background
 **********************************************************************/
.earthly {
  background: #649173;
  background: -webkit-linear-gradient(to right, #649173, #dbd5a4);
  background: linear-gradient(to right, #649173, #dbd5a4);
}

/***********************************************************************
 *  Petrichor Background
 **********************************************************************/
.petrichor {
  background: #666600;
  background: -webkit-linear-gradient(to right, #666600, #999966);
  background: linear-gradient(to right, #666600, #999966);
}

/***********************************************************************
 *  Velvet Sun Background
 **********************************************************************/
.velvetsun {
  background: #e1eec3;
  background: -webkit-linear-gradient(to right, #e1eec3, #f05053);
  background: linear-gradient(to right, #e1eec3, #f05053);
}

/***********************************************************************
 *  Honey Dew Background
 **********************************************************************/
.honeydew {
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #43c6ac, #f8ffae);
  background: linear-gradient(to right, #43c6ac, #f8ffae);
}

/***********************************************************************
 *  Vanusa Background
 **********************************************************************/
.vanusa {
  background: #da4453;
  background: -webkit-linear-gradient(to right, #da4453, #89216b);
  background: linear-gradient(to right, #da4453, #89216b);
}
/***********************************************************************
  *  Moor Background
  **********************************************************************/
.moor {
  background: #616161;
  background: -webkit-linear-gradient(to right, #616161, #9bc5c3);
  background: linear-gradient(to right, #616161, #9bc5c3);
}
